#intro h1 {
	width: 80%;
	font-size: 10rem;
	min-height: 300px;
	margin: 10% auto 0;
	text-align: center;
}

#css-controls-demo label {
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio:0) {
/* hack to avoid using the Object element in Safari/WebKit, due to WebKit Bug 27190 */
	object[type="image/svg+xml"] {
		display: none;
	}
	
	#intro h1 {
		/*background: url(logo.svg) no-repeat center;*/
		background-size:100% auto;
	}
}

.roll {
	-webkit-animation-name:roll;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count:1;
}

@-webkit-keyframes roll {
    100% { -webkit-transform: rotate( 360deg ); }
}

.minigun {
	background: url(img/minigun.png) no-repeat center center fixed;
}

.jik {
	background: url(img/jik.png) no-repeat center center fixed;
	-webkit-background-size: cover;
}

.center { text-align: center }

section > header.chapter {
	background: none;
	color: #000;
	background-color: #fff;
}

.header__code {
	font-size: 4rem;
	margin: 20% auto;
	background: none;
	border: none;
	text-align: center;
	box-shadow: none;
}